/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  background-image: url('../public/assets/bbburst.svg');
}

.person-chooser img {
  --color: #294C60; /* the color of the border */
  --border: 5px;   /* the thickness of the border */
  --offset: 30px;   /* control the movement of the border */
  --gap: 5px;     
  
  border-radius: 50%;
  cursor: pointer;
  padding: calc(var(--border));
  /* border: var(--offset) solid #0000; */
  

  background-size: 50% 50%;
  background-repeat: no-repeat;
  transition: .1s;
}

.person-chooser img:hover {
  --_s: 0px
}

.avatar-image {
  max-width: 10rem;
}

.table th:first-child {
  position: unset;
}

.ka {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media screen and (max-width: 500px) {
  .ka {
    max-width: 430px;
  }
}

@media (prefers-color-scheme: dark) {
  img {
    --color: #8FE388; 
  }

  .main-title {
    color: #8FE388;
  }

  .sub-title {
    color: #F8FFDB;
  }

  .selected-pp {
    color: #FFC49B;
  }

  .selected-border {
    border-color: #8FE388;
  }

  .ppl-icon {
    fill: #26CF83;
  }

  .toggle-enable {
    background-color: #26CF83;
  }

  .btn-disabled {
    background-color: #8FE388;
  }

  .btn-active {
    background-color: #26CF83;
  }

  .btn-active:hover {
    background-color: #20AC6D;
  }

  .btm-nav>*:where(.active) {
    border-color: #26CF83;
  }

  .tab-active {
    background: #228056;
  }
}

.btm-nav {
  height: 3rem;
}

.table {
  margin-bottom: 30px;
}

.transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ka-table {
  table-layout: auto !important;
  border-collapse: separate !important;
  white-space: nowrap !important;
}

.responsive-table .ka {
  width: 400px;
 /* Force table to not be like tables anymore */
 /* Hide table headers (but not display: none;
 , for accessibility) */
}
.responsive-table .ka table {
  border-collapse: collapse;
}
.responsive-table .ka table, .responsive-table .ka thead, .responsive-table .ka tbody, .responsive-table .ka th, .responsive-table .ka td, .responsive-table .ka tr {
  display: block;
}
.responsive-table .ka thead {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.responsive-table .ka tr:nth-of-type(even) {
  background: #f6f6f6;
}
.responsive-table .ka tr:nth-of-type(even) td {
  border-bottom: 1px solid white;
}
.responsive-table .ka tr {
  border: 1px solid #ccc;
}
.responsive-table .ka td.ka-cell {
 /* Behave like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
}
.responsive-table .ka td.ka-cell:before {
 /* Now like a table header */
  position: absolute;
 /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
 /* Label the data */
  content: attr(data-column);
  color: #000;
  font-weight: bold;
}

